/* Votre Style */

html {
  background-color: @ini_color_light-gray;
}


#dokuwiki__aside {
	width: 15em;
}

#dw__toc {
	width: 7.5em;
}

#moncontainer {
	justify-content: center;
}

@media (min-width: 401px) {
}

@media (min-width: 701px) {
}

@media (max-width: 800px) {
  #dokuwiki__aside,
  #dw__toc {
    width: 100%;
  }
}

@media (min-width: 801px) {
  html {
    padding: 1%;
  }
	#moncontainer {
	max-width: 60em;
	margin: 0 auto 0 auto;
	}
}

@media (min-width: 961px) {
  html {
    padding: 1.5%;
  }
}
