@charset "UTF-8";
/**
 * This file provides CSS rules specific to Mixture template.
 *
 * @author Simon Delage <simon.geekitude@gmail.com>
 */

/**
 * BREAKPOINTS and corresponding [#screen__mode z-index] (js-classes)
 * -...tiny...543px [1000] (mobile phone)
 * 544px...small...767px [1001] (mobile tablet)
 * 768px...medium...1200px [1002] (desktop)
 * 1201px...large...1800px [1003] (desktop)
 * 1801px...wide...+ [1004] (desktop)
 * Plus variable breakpoints for ToC and Sidebar extraction (depending on style.ini placeholders) with [2001] and [2002] z-index values
 */

/**
 * Z-INDEXES
 * (Scroll-up: 997)
 * (Lightbox: 998)
 * (Dropdowns, Modal overlay: 999)
 * Mixture breakpoint helper: 1000 to 1005
 * (.topmost: 9999)
 */

body {
    background-color: @ini_color_light_gray;
}
article {
    position: relative;
}
h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
    margin: 0;
    color: @ini_color_headings;
}
p,
blockquote,
pre,
ul,
ol,
table  {
    margin: 0 0 @ini_spacer 0;
}
a {
    color: @ini_color_links;
    text-decoration: none;
}
a:focus, a:hover, a:active {
    color: auto;
}
a:focus,
a:hover,
a:active {
    opacity: .5;
}
a.wikilink1 {
    color: @ini_existing !important;
}
a.wikilink2 {
    color: @ini_missing !important;
    border: 0 !important;
/**
 *     text-decoration: underline !important;
 *     text-decoration-style: dashed !important;
 *     -moz-text-decoration-color: @ini_color_red !important;
 *     text-decoration-color: @ini_color_red !important;
 */
}
blockquote {
    line-height: (1.3 * @ini_line_factor);
}
[dir=ltr] blockquote {
    padding: 0 0 0 calc(@ini_spacer / 2);
    border-left: 4px solid @ini_color_primary;
}
[dir=rtl] blockquote {
    padding: 0 calc(@ini_spacer / 2) 0 0;
    border-right: 4px solid @ini_color_primary;
}
blockquote::before {
    content: "";
}
hr {
    width: 80%
}
[dir=ltr] sup {
    margin-left: .1em;
}
[dir=rtl] sup {
    margin-right: .1em;
}
table,
.table {
    border: none;
}
main {
    padding: @ini_spacer;
}
#mixture__site {
    margin: 0;
    padding: 0;
}
#mixture__header,
#mixture__alerts,
#mixture__pagenav,
main,
#mixture__footer {
    max-width: @ini_site_width;
    margin: 0 auto 0 auto;
}
#mixture__header,
#mixture__alerts,
main,
#mixture__footer {
    background-color: @ini_color_white;
}
#mixture__header {
    padding: @ini_spacer;
    margin-bottom: @ini_spacer;
}
/*
#mixture__topbar {
    min-width: 100%;
    background-color: red;
}
*/
#mixture__topbar > div {
    min-width: 100%;
    width: 100%
}
#mixture__topbar ul {
    list-style: none;
    padding: 0;
}
[dir=ltr] #mixture__topbar_date {
    margin-right: @ini_spacer;
}
[dir=rtl] #mixture__topbar_date {
    margin-left: @ini_spacer;
}
/*
#mixture__topbar_links ul {
    position: absolute;
}
*/
#mixture__topbar_date span.text {
    display: none;
}
#mixture__title {
    color: @ini_color_primary;
}
div.breadcrumbs {
    padding: calc(@ini_spacer / 4) 0 0 0;
}
div.breadcrumbs div.trace,
div.breadcrumbs div.youarehere {
    margin: 0 auto 0 auto;
}
#mixture__alerts {
    padding: calc(@ini_spacer / 4) 0 calc(@ini_spacer / 4) 0;
}
/*#mixture__pagenav div {
    display: inline-block;
}*/
#mixture__pagenav ul {
    /*display: inline-flex;*/
    list-style: none;
    margin:0;
    padding: 0;
}
#mixture__pagenav ul li {
    /*display: inline-block;*/
    margin: 0;
    font-weight: 600;
    text-align: center;
    color: @ini_text;
    border-top: 4px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    white-space: nowrap;
}
#mixture__pagenav ul li > div.pageId {
    border-top: 4px solid @ini_color_primary;
    border-right: 1px solid @ini_border;
    border-left: 1px solid @ini_border;
    background-color: @ini_background;
}
[dir=ltr] #mixture__pagenav ul li > div.pageId {
    margin: 0 0 -1px -1px;
}
[dir=rtl] #mixture__pagenav ul li > div.pageId {
    margin: 0 -1px -1px 0;
}
#mixture__pagenav ul li div.pageId span {
    padding: @ini_spacer;
    line-height: 3rem;
}
body.notFound #mixture__pagenav ul li div.pageId span {
    color: @ini_color_red;
}
#mixture__pagenav_ellipsis ul li.tab:hover {
  opacity: .5;
}
#mixture__pagenav_ellipsis ul li.tab {
    padding: 0 6px;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
[dir=ltr] #mixture__pagenav_ellipsis ul li.tab:hover {
  border-left: 4px solid @ini_color_primary;
}
[dir=rtl] #mixture__pagenav_ellipsis ul li.tab:hover {
  border-right: 4px solid @ini_color_primary;
}
#mixture__pagenav ul li.tab a {
    margin: 0 0 -2px 0;
    padding: calc(.6 * @ini_spacer);
    display:inline-block;
    width:100%;
    height:100%;
}
[dir=ltr] #mixture__pagenav ul li.tab a {
    text-align: left
}
#mixture__pagenav ul li.tab a:hover {
  background-color: @ini_background;
  opacity: 1;
}
#mixture__pagenav_ellipsis span svg {
    margin-top: 1.2rem;
}
main {
    border-top: 1px solid @ini_border;
}
#mixture__content {
    padding: 0;
    margin: calc(@ini_spacer / 2) 0 0 0;
}
#mixture__aside {
    width: 100%;
    margin: calc(@ini_spacer / 4) 0 0 0;
}
#mixture__aside h3.toggle,
#mixture__aside div.content,
#dw__toc h3.toggle,
#dw__toc div.li {
    font-size: 80%;
}
#mixture__aside h3.toggle,
#dw__toc h3.toggle,
#dw__toc div {
    padding: 0;
}
#mixture__footer {
    margin-top: @ini_spacer;
    padding: @ini_spacer;
}
h3.toggle,
h3.toggle.open {
    height: 0;
    color: transparent;
}
h3.toggle.open strong {
    height: 20px;
}
h3.toggle.closed {
    height: auto;
    color: @ini_color_headings;
}
[dir=ltr] #mixture__aside ul,
[dir=ltr] #mixture__aside ol {
    padding-left: calc(1.3 * @ini_spacer);
}
[dir=rtl] #mixture__aside ul,
[dir=rtl] #mixture__aside ol {
    padding-right: calc(1.4 * @ini_spacer);
}
#mixture__aside,
#dw__toc {
    background-color: @ini_background_neu;
    padding: calc(@ini_spacer / 2);
    z-index: 1;
}
#mixture__aside,
#dw__toc {
    /* animate translations for those divs */
    -webkit-transition: transform @ini_animation_time ease-in-out;
    -moz-transition: transform @ini_animation_time ease-in-out;
    -o-transition: transform @ini_animation_time ease-in-out;
    transition: transform @ini_animation_time ease-in-out;
}
/* TEST: recupérer l'espace sous la sidebar (il faut aussi supprimer la classe .flex-container sur #mixture__site */
/* Modif sur <blockquote> pour éviter que la bordure des blockquotes passe à travers la sidebar mais il y a de gros effets de bords sur tous les blockquotes */
body.wrappedSidebar #mixture__aside {
    position: relative;
    float: left;
}
[dir=ltr] body.wrappedSidebar #mixture__aside {
    margin: 0 @ini_spacer @ini_spacer 0;
}
[dir=rtl] body.wrappedSidebar #mixture__aside {
    margin: 0 0 @ini_spacer @ini_spacer;
}
body.wrappedSidebar #mixture__content blockquote,
body.wrappedSidebar #mixture__content ul {
    overflow: auto;
}
body.wrappedSidebar blockquote {
    margin: 0;
}
body.wrappedSidebar li {
    margin-left: inherit;
}
body.unwrappedSidebar #mixture__aside {
    box-sizing: content-box;
    margin: 0 0 calc(@ini_spacer / 3) 0;
}
#dw__toc {
    width: 100%;
    margin: 0 0 calc(@ini_spacer / 2) 0;
}
/* only apply to #dw__toc.scrollspy? */
.dropdown-content li div.li,
#dw__toc li div.li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#mixture__helper {
    z-index: 1000;
}
#mixture__helper span::before {
    content: "tiny (<544px)";
}
body.debug #mixture__helper {
    background: @ini_highlight;
    top: 0;
    visibility: visible;
}
body.scrollspyToC #dw__toc {
    /*background-color: pink;*/
}
.tagline {
    font-weight: bold;
    margin: 0;
}
/*
.breadcrumbs {
    font-size: 80%;
}
* */
.breadcrumbs ul {
    padding: 0;
    margin: 0;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li.curid a {
    font-weight: 700;
    pointer-events: none;
    color: @ini_text_neu;
}
.breadcrumbs li:after {
    content: "\00a0";
}
/* Add separator before each list item that is following another one... */
.breadcrumbs .trace ul > li + li:before {
    content: "/\00a0";
}
.breadcrumbs .youarehere ul > li + li:before {
    content: "»\00a0";
    /*vertical-align: text-bottom;*/
}
/* ...except second one (because first one is the label, not a breadcrumb) */
.breadcrumbs .trace ul > li:nth-child(2):before,
.breadcrumbs .youarehere ul > li:nth-child(2):before {
    content: "";
}
/* ...and add a margin after first one (label) */
/*
 * .breadcrumbs .trace ul > li:nth-child(1):after,
.breadcrumbs .youarehere ul > li:nth-child(1):after {
  margin-right: 4px;
}
*/
/*
div.pageNews,
div.pageId,
div.pageInfo {
  font-size: 80%;
}
*/
/*
div.pageId {
    align-self: center;
    white-space: nowrap;
}
[dir=ltr] div.pageId {
    text-align: right;
}
[dir=rtl] div.pageId {
    text-align: left;
}
[dir=ltr] div.pageInfo {
    text-align: right;
}
[dir=rtl] div.pageInfo {
    text-align: left;
}
*/
/* alerts */
div.info,
div.notify,
div.success,
div.error {
    width: 90%;
    margin: calc(@ini_spacer / 4) auto calc(@ini_spacer / 4) auto;
}
div.info a,
div.notify a,
div.success a,
div.error a {
    color: @ini_color_white;
}
div.info {
    background-color: @ini_color_blue;
}
div.notify {
    background-color: @ini_color_yellow;
}
div.success {
    background-color: @ini_color_green;
}
div.error {
    background-color: @ini_color_red;
}
div.footnotes {
    margin: @ini_spacer auto 0 auto !important;
    width: 80%;
    font-size: 80%;
}
.toggle strong {
    line-height: 1;
    padding-top: 2px;
}
.toggle strong span {
    display: none;
}
.toggle strong {
    content: "";
    display:block;
    height:1.8rem;
    width:1.8rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    opacity: .4;
}
.toggle.closed strong {
    background-image: url(svg/expand.svg);
}
.toggle.open strong {
    background-image: url(svg/collapse.svg);
}
div.no {
    display: inline;
    margin: 0;
    padding: 0;
}
div.not-visible {
    position: fixed;
    visibility: hidden;;
}
pre.dbg {
    background-color: @ini_highlight;
}
#js_lastchanges_container {
    display: none;
    margin-bottom: -2px;
}
#js_lastchanges_container ul.js-lastchanges,
#js_lastchanges_container ul.lastchange {
    display: inline-block;
}
#mixture__topbar ul {
    margin: 0;
    vertical-align: text-bottom;
}

/* =ICONS
----------------------------------------------- */
[class*="glyph"] {
    font-size: 0;
}
[dir=ltr] [class*="glyph"] {
    padding: 0 3px 0 0;
}
[dir=rtl] [class*="glyph"] {
    padding: 0 0 0 3px;
}
[class*="glyph"] svg {
    fill: @ini_text_neu;
    vertical-align: top;
    /*fill: red;*/
    display: inline-block;
    /*width: 1rem;*/
    /*height: 1rem;*/
    height: unit(@ini_font_factor, rem);
    width: unit(@ini_font_factor, rem);
    stroke-width: 0;
    stroke: @ini_text_neu;
    fill: @ini_text_neu;
}
/*
.glyph-em svg {
    width: 1em;
    height: 1em;
}
.small .glyph-em svg {
    width: .8em;
    height: .8em;
}
.glyph-12 svg {
    width: 1.2rem;
    height: 1.2rem;
}
.glyph-14 svg {
    width: 1.4rem;
    height: 1.4rem;
}
.glyph-16 svg {
    width: 1.6rem;
    height: 1.6rem;
}
.glyph-17 svg {
    width: 1.7rem;
    height: 1.7rem;
}
*/
.glyph-18 svg {
    width: 1.575rem;
    height: 1.575rem;
}
@media (min-width: 480px) {
    .glyph-18 svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}
.glyph-20 svg {
    width: 1.925rem;
    height: 1.925rem;
}
@media (min-width: 480px) {
    .glyph-20 svg {
        width: 2rem;
        height: 2rem;
    }
}

/* =HELPERS
----------------------------------------------- */
.spacebetween {
    justify-content: space-between;
}
.camelcase {
    text-transform: capitalize;
}
.caps {
    text-transform: uppercase;
}
.camelcase > a,
.caps > a {
    text-transform: inherit !important;
}
.label {
    color: @ini_text_neu;
}
.label svg {
    fill: @ini_text_neu;
}

/* =BASIC DROPDOWN BUTTON (from https://www.w3schools.com/css/css_dropdowns.asp)
----------------------------------------------- */
/* Dropdown Button */
/*
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
[dir=ltr] .dropdown-content {
    right: 0;
    text-align: right;
}
[dir=rtl] .dropdown-content {
    left: 0;
    text-align: left;
}
.dropdown-content div.li {
    padding: (@ini_spacer / 4) (@ini_spacer / 2);
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: inline;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
@media (min-width: 401px) {
}
*/
@media (min-width: 544px) {
    #mixture__helper {
        z-index: 1001;
    }
    #mixture__helper span::before {
        content: "small (<768px)";
    }
    hr {
        margin: calc(@ini_spacer / 2) auto @ini_spacer auto;
    }
    #mixture__site {
        /*padding: 1.5%;*/
        padding: calc(3 * @ini_spacer);
    }
    #mixture__content {
        margin: 0;
    }
}
@media (min-width: 768px) {
    #mixture__helper {
        z-index: 1002;
    }
    #mixture__helper span::before {
        content: "medium (<1201px)";
    }
    #mixture__site {
        /*padding: (2 * @ini_spacer);*/
        /*margin: 1.5vmax auto 1.5vmax auto;*/
    }
    table {
        /*max-width: calc(100% - @ini_toc_width - @ini_spacer - 40px);*/
        width: auto;
    }
    #mixture__topbar_date span.label {
        display: none;
    }
    #mixture__topbar_date span.text {
        display: inline;
    }
    #mixture__aside {
        width: @ini_sidebar_width;
        max-width: 25%;
    }
    [dir=ltr] body.wrappedSidebar #mixture__aside {
        margin: 0 @ini_spacer @ini_spacer 0 !important;
    }
    [dir=rtl] body.wrappedSidebar #mixture__aside {
        margin: 0 0 @ini_spacer @ini_spacer !important;
    }
    [dir=ltr] body.unwrappedSidebar #mixture__aside {
        margin: 0 @ini_spacer 0 0 !important;
    }
    [dir=rtl] body.unwrappedSidebar #mixture__aside {
        margin: 0 0 0 @ini_spacer !important;
    }
    #dw__toc {
        width: @ini_toc_width;
        max-width: 20%;
    }
    [dir=ltr] #dw__toc {
        margin: 0 0 @ini_spacer @ini_spacer;
    }
    [dir=rtl] #dw__toc {
        margin: 0 @ini_spacer @ini_spacer 0;
    }
    body.unwrappedSidebar #mixture__aside h3.toggle {
        display: none;
    }
}
@media (min-width: 1201px) {
    #mixture__helper {
        z-index: 1003;
    }
    #mixture__helper span::before {
        content: "large (<1801px)";
    }
    #mixture__topbar_links ul {
        display: inline-flex;
        background-color: @ini_background;
        box-shadow: none;
    }
    [dir=ltr] #mixture__topbar_links ul {
        right: 25px;
    }
    [dir=rtl] #mixture__topbar_links ul {
        left: 25px;
    }
    #mixture__topbar_links ul div.li {
        padding: 0 (@ini_spacer / 2);
    }
    #mixture__pagenav_ellipsis ul {
        display: inline-flex;
        background-color: @ini_background;
        box-shadow: none;
    }
    #mixture__pagenav_ellipsis span.label {
        display: none;
    }
    [dir=ltr] #mixture__pagenav_ellipsis ul {
        left: 0;
    }
    [dir=rtl] #mixture__pagenav_ellipsis ul {
        right: 0;
    }
    #mixture__pagenav_ellipsis ul li.tab {
        padding: 0 !important;
        border-top: 4px solid transparent;
        border-left: 1px solid transparent !important;
        border-right: 1px solid transparent !important;
    }
    #mixture__pagenav_ellipsis ul li.tab:hover {
        border-top: 4px solid @ini_color_primary;
        border-left: 1px solid @ini_border !important;
        border-right: 1px solid @ini_border !important;
    }
    /*
    #mixture__pagenav ul li.tab:hover {
        background-color: @ini_background;
        border-top: 2px solid @ini_color_primary;
        opacity: .5;
    }
    */
    /*
    [dir=rtl] #mixture__topbar_links ul {
        left: 25px;
    }
    #mixture__topbar_links ul div.li {
        padding: 0 (@ini_spacer / 2);
    }
    */
    html.forceDropdownPagenav #mixture__pagenav_ellipsis span {
        display: block !important;
    }
    html.forceDropdownPagenav #mixture__pagenav_ellipsis span:hover {
        background-color: pink !important;
    }
    html.forceDropdownPagenav #mixture__pagenav_ellipsis ul.dropdown-content {
        display: none;
    }
}
@media (min-width: 1801px) {
    #mixture__helper {
        z-index: 1004;
    }
    #mixture__helper span::before {
        content: "wide (>=1801px)";
    }
}
/* Extract ToC if there's enough room */
@media all and (min-width: @ini_site_width + (2 * @ini_toc_width) + (4 * @ini_spacer) + 1px) {
    body.extractToC #mixture__helper {
        z-index: 2001;
    }
    body.extractToC #mixture__helper span::after {
        content: "(ToC extracted)";
    }
    body.extractToC #dw__toc {
        position: fixed;
        top: calc(3 * @ini_spacer);
    }
    [dir=ltr] body.extractToC #dw__toc {
        left: 50%;
        margin-left: (@ini_site_width / 2) + (@ini_spacer / @ini_font_factor);
    }
    [dir=rtl] body.extractToC #dw__toc {
        right: 50%;
        margin-right: (@ini_site_width / 2) + (@ini_spacer / @ini_font_factor);
    }
    body.extractToC #dw__toc h3.toggle {
        display: none;
    }
    body.scrollspyToC.extractToC #dw__toc li div.li {
        padding: 0 6px;
    }
    [dir=ltr] body.scrollspyToC.extractToC #dw__toc li div.li {
        border-left: 4px solid transparent;
    }
    [dir=rtl] body.scrollspyToC.extractToC #dw__toc li div.li {
        border-right: 4px solid transparent;
    }
    body.debug.scrollspyToC.extractToC #dw__toc li div.li {
        border-color: @ini_highlight;
    }
}
/* Extract Sidebar if there's enough room */
@media all and (min-width: @ini_site_width + (2 * @ini_sidebar_width) + (4 * @ini_spacer) + 1px) {
    body.extractSidebar #mixture__helper {
        z-index: 2002;
    }
    body.extractSidebar #mixture__helper span::after {
        content: "(Sidebar extracted)";
    }
    body.showSidebar.extractSidebar #mixture__aside {
        /* let page content recover ToC'space */
        position: absolute;
    }
    [dir=ltr] body.showSidebar.extractSidebar #mixture__aside {
        /* translate (search "transition" to find the rules for this translation animation) */
        transform: translate((-2 * @ini_spacer) - (@ini_sidebar_width * @ini_font_factor), 0);
    }
    [dir=rtl] body.showSidebar.extractSidebar #mixture__aside {
        /* translate (search "transition" to find the rules for this translation animation) */
        transform: translate((2 * @ini_spacer) + (@ini_sidebar_width * @ini_font_factor), 0);
    }
    [dir=ltr] body.unwrappedSidebar.showSidebar.extractSidebar #mixture__aside {
        /* translate (search "transition" to find the rules for this translation animation) */
        transform: translate((-3 * @ini_spacer) - (@ini_sidebar_width * @ini_font_factor), 0);
    }
    [dir=rtl] body.unwrappedSidebar.showSidebar.extractSidebar #mixture__aside {
        /* translate (search "transition" to find the rules for this translation animation) */
        transform: translate((3 * @ini_spacer) + (@ini_sidebar_width * @ini_font_factor), 0);
    }
    body.showSidebar.extractSidebar #mixture__aside h3.toggle {
        display: none;
    }
    body.showSidebar.extractSidebar #mixture__aside {
        max-width: none;
    }
}
